
div.parent {
  position: relative;
  margin: 10px;
  border: 6px solid red;
}


div.absolute {
  position: absolute;
  width: 50%;
  bottom: 30px;
  border: 3px solid #8AC007;
} 



div.relative {
  position: relative;
  width: 50%;
  bottom: -80px;
  border: 3px solid #8AC007;
} 

div.fixed {
  position: fixed;
  width: 50%;
  bottom: 20px;
  border: 3px solid #8AC007;