        * {
            border-style: solid;
            border-width: 1px;
        }

        body {
/*             background-color: blanchedalmond;
            background-image: url(../img/hse30.png);
            background-repeat: no-repeat;
            background-position-x: 5.0rem;
            background-position-y: 2.0rem;
            background-size: 90%; */
        }

        h1 {
            text-align: center;
            border-block: 5px solid red;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }


        .center {
            text-align: center;
            color: red;
        }

        #right {
            text-align: right;
            color: green;
        }


        div {}