div.parent {
  position: relative;
  height: 200px;
  border: 6px solid red;
}

div.absolute {
  position: absolute;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;
} 

div.relative {
  position: relative;
  width: 50%;
  bottom: 0px;
  border: 3px solid #8AC007;
} 

div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8AC007;